@using Abp.Web.Mvc.Extensions
@using CzuczenLand.ExtendingFunctionalities.Consts.Entities.EntitiesFieldsNames.Hr
@using CzuczenLand.Web.Helpers
@model CzuczenLand.Web.Models.ExtendingModels.Plantation.PlantationViewModel 

@{
    ViewBag.ActiveMenu = PageNames.Plantation;
}

@section styles
{
    @Html.IncludeStyle("~/Views/Shared/Shared.css")
    @Html.IncludeStyle("~/Views/Plantation/Index.css")
    @Html.IncludeStyle("~/Views/Plantation/PlantationPanel/_plantation.css")
    @Html.IncludeStyle("~/Views/Plantation/Storage/_storage.css")
    @Html.IncludeStyle("~/Views/Plantation/Quests/_questsPanel.css")
    @Html.IncludeStyle("~/Views/Plantation/CustomerZone/_customers.css")
    @Html.IncludeStyle("~/Views/Plantation/BlackMarket/_blackMarket.css")
}

@section scripts
{
    @Html.IncludeScript("~/Views/Shared/SoundsEffects.js")
    @Html.IncludeScript("~/Views/Shared/Shared.js")
    @Html.IncludeScript("~/Views/Plantation/Index.js")
    @Html.IncludeScript("~/Views/Plantation/PlantationPanel/_plantationPanel.js")
    @Html.IncludeScript("~/Views/Plantation/Storage/_storage.js")
    @Html.IncludeScript("~/Views/Plantation/Quests/_questsPanel.js")
    @Html.IncludeScript("~/Views/Plantation/CustomerZone/_customers.js")
    @Html.IncludeScript("~/Views/Plantation/BlackMarket/_blackMarket.js")
}

<div id="plantation">
    @Html.GenerateGameDataInput(Model)
    <div class="game-clock text-center">
        <span>Czas w grze: </span>
        <span id="gameClock"></span>
    </div>
    <div id="guideSlider" title="Poradnik" class="guide-slider-icon cursor-pointer">
        <a href="https://docs.google.com/document/d/1h-qN-2J9vUjZNBh68RoF-0TmmEXqJihHZg6hzVhQ2-E/edit?usp=sharing" target="_blank" rel="noopener noreferrer">
            <i class="material-icons text-c-whitesmoke">info</i>
        </a>
    </div>
    <div id="notificationsBox" class="notifications_position">
        <div class="position-relative">
            <div class="alert template game-notification-item alert-success" role="alert"></div>
            <div class="alert template game-notification-item alert-danger" role="alert"></div>
            <div class="alert template game-notification-item alert-warning" role="alert"></div>
            <div class="alert template game-notification-item alert-info" role="alert"></div>
        </div>
    </div>

    <div class="col-md-12 m-b-40 text-center">
        <div class="col-md-4 m-b-10">
            <div class="col-md-6">
                <label for="s2DistrictSelector">Dzielnica</label>
                <div id="s2DistrictSelector"></div>
                <div class="col-md-12">
                    <div class="m-t-5 show-popover pull-left">
                        <span id="playerGainedExp" class="popover_content player-info-popover" data-gained_experience="@(Model.PlayerStorageInfoViewModel?.GainedExperience)">
                            Zdobyte doświadczenie: @(Model.PlayerStorageInfoViewModel?.GainedExperience + "pkt")
                        </span>
                        <span class="material-icons person-icon">person_outline</span>
                        <span id="playerLevel"> @(Model.PlayerStorageInfoViewModel?.Level)</span>
                    </div>
                    
                    <div class="pull-right m-t-5 d-flex">
                        <div class="m-r-5">
                            <span id="playerGold" title="Kasa gracza">@(Model.PlayerStorageInfoViewModel?.Gold)</span>
                            <span class="material-icons player-money-icon">attach_money</span>
                        </div>
                        
                        <div class="pull-right" title="@PlayerStorageFieldsHrNames.Honor">
                            <span id="honor"> @(Model.PlayerStorageInfoViewModel?.Honor)</span>
                            <span class="material-icons dashboard-icon">stars</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @if (Model.HasPlantation)
        {
            @Html.Partial("PlantationPanel/_plantation", Model)
        }
    </div>
    
    @if (Model.HasPlantation)
    {
        @Html.Partial("PlantationPanel/_plantationPanel", Model)
    }

    <div id="showPlantationStorageModal" class="modal fade showPlantationStorage" tabindex="-1" role="dialog" aria-labelledby="plantationStorageModalLabel">
        <div class="modal-dialog text-center modal-lg">
            <div class="modal-content bg-c-inherit">
                @Html.Partial("~/Views/Plantation/Storage/_storage.cshtml", Model.StorageViewModel)
            </div>
        </div>
    </div>
    
    <div id="showBlackMarketModal" class="modal fade showBlackMarket" tabindex="-1" role="dialog" aria-labelledby="blackMarketModalLabel">
        <div class="modal-dialog text-center modal-lg">
            <div class="modal-content p-r-2 text-c-black">
                @Html.Partial("BlackMarket/_blackMarket")
            </div>
        </div>
    </div>
</div>

<div id="loadingHollow" class="text-center text-c-whitesmoke d-none">
    <h4 class="loading_dots">Tworzenie dziupli</h4>
</div>

<div class="arrow-scroll-up material-icons" title="Przewiń w górę">keyboard_arrow_up</div>
