@using System.Threading
@using System.Web.Optimization
@using Abp.Timing
@using CzuczenLand
@using CzuczenLand.Web.Helpers
@{
    SetAntiForgeryCookie();
}
<!DOCTYPE html>
<html class="m-l-10" lang="pl">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="shortcut icon" href="~/favicon.png">

    <title>Chillout Room</title>

    @Styles.Render("~/Bundles/account-vendor/css")

    <!-- View specific styles -->
    @RenderSection("styles", required: false)

    <script type="text/javascript">
        //This is used to get the application's root path from javascript. It's useful if you're running application in a virtual directory under IIS.
        var abp = abp || {}; abp.appPath = '@ApplicationPath';
    </script>

</head>
<body class="login-page">
    <div class="login-box bg-c-green">
        <div class="logo">
            <a href="javascript:void(0);">Chillout Room</a>
        </div>

        @if (ViewBag.IsMultiTenancyEnabled)
        {
            @Html.Action("TenantChange", "Account")
        }

        @RenderBody()
    </div>

    @Scripts.Render("~/Bundles/account-vendor/js/bottom")

    <script>
        //Localizing momentjs
        moment.locale('@Thread.CurrentThread.CurrentUICulture.Name');
    </script>

    <!-- Dynamic scripts of ABP system (They are created on runtime and can not be bundled) -->
    <script src="~/api/AbpServiceProxies/GetAll?v=@(Clock.Now.Ticks)"></script>
    <script src="~/AbpScripts/GetScripts?v=@(Clock.Now.Ticks)" type="text/javascript"></script>

    <!-- View specific scripts -->
    @RenderSection("scripts", required: false)
    @Html.PartialViewScripts()
</body>
</html>
